# Perform GSEA using GSEAPY  

Following the potocol defined here: https://gseapy.readthedocs.io/en/latest/gseapy_tutorial.html#use-gsea-command-or-gsea

In [1]:
%matplotlib inline
%config InlineBackend.figure_format='retina' # mac
import pandas as pd
import gseapy as gp
import numpy as np
import matplotlib.pyplot as plt

In [2]:
gp.__version__

'0.9.9'

## alpha

### 1. Prepare prerank file

* eg: https://github.com/zqfang/GSEApy/blob/master/tests/data/temp.rnk

In [3]:
gene_exp_alpha = pd.read_csv("../dat/figdata/fig2_prom_ttest_res.csv",index_col=1)
#gene_exp_alpha.head()
df = gene_exp_alpha.loc[gene_exp_alpha["celltype"]=="alpha"].sort_values(by='odds', ascending=False)["odds"]
df=np.log2(df)

# replace inf to max exclude inf
#df=df.replace(np.inf,df[~df.isin([np.inf])].max(0))
#df=df.replace(-np.inf,df[~df.isin([-np.inf])].min(0))
df.to_csv('../dat/figdata/res.genes.a.rnk',sep='\t')
rnk = pd.read_table("../dat/figdata/res.genes.a.rnk", header=None)

for i in  rnk.index[(rnk[1]==np.inf).tolist()].tolist():
    rnk.iloc[i,1]= df[~df.isin([np.inf])].max(0)*(1+np.random.uniform()/100)

for i in  rnk.index[(rnk[1]==-np.inf).tolist()].tolist():
    rnk.iloc[i,1]= df[~df.isin([-np.inf])].min(0)*(1+np.random.uniform()/100)

#rnk.set_index(0)
rnk.head()

/Users/frank/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:4: RuntimeWarning: divide by zero encountered in log2
  after removing the cwd from sys.path.
/Users/frank/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  if __name__ == '__main__':
/Users/frank/anaconda/envs/py36/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  # Remove the CWD from sys.path while we load stuff.

                           0         1
0  chr10:126233987-126234654  4.860521
1   chr2:127963002-127963589  4.861537
2   chr5:140787431-140787735  4.828084
3   chr5:134223476-134223683  4.846558
4    chr14:81884874-81885084  4.831166

In [35]:
# run gsea
# enrichr libraries are supported by gsea module. Just provide the name

gs_res_a = gp.prerank(rnk=rnk, # or data='./P53_resampling_data.txt'
                 gene_sets='../dat/glists/gsea_beta.gmt', # enrichr library names or gmt file
                 #set permutation_type to phenotype if samples >=15
                 permutation_num=1000, # reduce number to speed up test
                 outdir=None,  # do not write output to disk
                 no_plot=True, # Skip plotting
                 #weighted_score_type=1,
                 #ascending=False,
                    seed=1000,
                 min_size=10,
                 max_size=2100,
                 processes=4)
                 #format='png')
gs_res_a.res2d

2019-03-12 10:45:12,645 Input gene rankings contains duplicated IDs, Only use the duplicated ID with highest value!

,es,nes,pval,fdr,geneset_size,matched_size,genes,ledge_genes
Term,,,,,,,,
Beta1,0.787680,2.926606,0.0,0.0,178,176,DDC;WWC1;INPP4B;ARHGAP26;LDLRAD3;MGAT5;GSTZ1;M...,DDC;WWC1;INPP4B;ARHGAP26;LDLRAD3;MGAT5;GSTZ1;M...
Beta2,-0.300225,-1.640853,0.0,0.0,682,681,MDC1;GLYR1;CD44;TNS3;MAML3;CEP350;SLCO3A1;ARG2...,CRTC2;SLC25A38;IFT172;FBXO30;SDC2;RAPH1;ACAP1;...

## beta

In [10]:
gene_exp_alpha = pd.read_csv("../dat/figdata/fig2_prom_ttest_res.csv",index_col=1)
#gene_exp_alpha.head()
df = gene_exp_alpha.loc[gene_exp_alpha["celltype"]=="beta"].sort_values(by='odds', ascending=False)["odds"]
df=np.log2(df)

# replace inf to max exclude inf
#df=df.replace(np.inf,df[~df.isin([np.inf])].max(0))
#df=df.replace(-np.inf,df[~df.isin([-np.inf])].min(0))
df.to_csv('../dat/figdata/res.genes.a.rnk',sep='\t')
rnk = pd.read_table("../dat/figdata/res.genes.a.rnk", header=None)

for i in  rnk.index[(rnk[1]==np.inf).tolist()].tolist():
    rnk.iloc[i,1]= df[~df.isin([np.inf])].max(0)*(1+np.random.uniform()/100)

for i in  rnk.index[(rnk[1]==-np.inf).tolist()].tolist():
    rnk.iloc[i,1]= df[~df.isin([-np.inf])].min(0)*(1+np.random.uniform()/100)

#rnk.set_index(0)
rnk.head()

       0         1
0  PI4KA  5.013283
1  NELL1  5.017021
2  PRKCH  5.016948
3  KLKB1  5.034227
4   UXS1  5.035009

In [30]:
# run gsea
# enrichr libraries are supported by gsea module. Just provide the name

gs_res = gp.prerank(rnk=rnk, # or data='./P53_resampling_data.txt'
                 gene_sets='../dat/glists/gsea_alpha.gmt', # enrichr library names or gmt file
                 #set permutation_type to phenotype if samples >=15
                 permutation_num=6000, # reduce number to speed up test
                 outdir=None,  # do not write output to disk
                 no_plot=True, # Skip plotting
                 #weighted_score_type=1,
                 #ascending=False,
                    seed=1000,
                 min_size=10,
                 max_size=2100,
                 processes=8)
                 #format='png')
gs_res.res2d

2019-03-12 10:43:34,837 Input gene rankings contains duplicated IDs, Only use the duplicated ID with highest value!

,es,nes,pval,fdr,geneset_size,matched_size,genes,ledge_genes
Term,,,,,,,,
Alpha1,0.772896,2.571670,0.0,0.0,179,177,INPP4B;TLE3;MTCH1;CEP350;GSTZ1;CTBP1;SEPT9;DLG...,INPP4B;TLE3;MTCH1;CEP350;GSTZ1;CTBP1;SEPT9;DLG...
Alpha2,-0.286182,-1.501008,0.0,0.0,500,499,TOM1L2;CKAP5;FBXL13;UCK2;TECR;C12orf65;SDK1;FA...,EIF4A1;HOMER1;ECE1;GOT1;PLEKHH2;VDAC1;PRKCA;BD...

### Save results

In [44]:
gs_res_a.res2d[['es','nes','pval','fdr']]

             es       nes  pval  fdr
Term
Beta1  0.787680  2.926606   0.0  0.0
Beta2 -0.300225 -1.640853   0.0  0.0

In [45]:
gs_res.res2d[['es','nes','pval','fdr']].to_csv('../dat/figdata/GSEA_beta_res_seed1000.csv')
gs_res_a.res2d[['es','nes','pval','fdr']].to_csv('../dat/figdata/GSEA_alpha_res_seed1000.csv')

In [39]:
from gseapy.plot import gseaplot, heatmap
terms = gs_res.res2d.index 
for i in range(len(terms)):
    gseaplot(gs_res.ranking, term=terms[i], **gs_res.results[terms[i]],ofname=terms[i]+'_b_seed1000.pdf')
terms = gs_res_a.res2d.index 
for i in range(len(terms)):
    gseaplot(gs_res_a.ranking, term=terms[i], **gs_res_a.results[terms[i]],ofname=terms[i]+'_a_seed1000.pdf')